@model List<Order>
@{
    ViewData["Title"] = "My Orders";
}
<div class="row">
    <div class="col-md-8 offset-2">
        <p>
            <h4>Your Orders</h4>
        </p>
        <table class="table">
            <thead>
                <tr>
                    <th>Order ID</th>
                    <th>Order Total Price</th>
                    <th>Order Items</th>
                    @if(User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                    {
                        <th>Order User ID</th>
                    }
                   
                   
                    <th></th>
                </tr>
                </thead>
                <tbody>
                @foreach(var items in Model)
                {
                    <tr>
                        <td class="align-middle">@items.Id</td>
                        
                        <td>
                            <ul style="list-style-type:none">
                                @foreach(var item in items.orderItems)
                                {
                                    <li>
                                        <div class="alert alert-info" role="alert">
                                            <span class="badge bg-success"> @item.Amount</span> [@item.Price.ToString("c") - @item.Movie.Name]
                                        </div>
                                       </li>
                                }
                            </ul>
                        </td>
                        <td class="align-middle">@items.orderItems.Select( m => m.Movie.Price * m.Amount).Sum().ToString("c")</td>
                        @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                        {
                            <td class="align-middle" >@items.User.FullName</td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>